name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule: [ cron: "42 0 7 * *" ] # https://crontab.guru/#42_0_7_*_*

jobs:
  test:
    runs-on: ubuntu-latest
    strategy: {matrix: {ruby: [ '3.0', 3.1, 3.2, 3.3, 3.4 ]}}
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with: { egress-policy: audit }
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bin/rake
